.carousel-container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.thumbnail-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail:hover {
    border-color: #0056b3;
}

.more-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
